old/
.cursor/
.env
raw-datasets/
wytyczne/

statics/models/
statics/results_repository/
statics/prediction_cache/
results/
__pycache__/
label_studio/
.venv/

saved_models/
.DS_Store
trainer_output/

absa_results/reviews
statics/datasets/*
!statics/datasets/training.csv
!statics/datasets/validate.csv
!statics/datasets/tfidf.csv
**/.DS_Store
absa_results/